// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon{
  width: 150px;
  height: 150px;
  position: relative;
  top: -12px;
  left: -21px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  //background-image: url("img/img.png");
  background-size: cover;
  background-position: center center;
}

.profile_card{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  //background-image: url("img/img.png");
  background-size: cover;
  background-position: center center;
}

.icon_edit{
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  //background-image: url("img/img.png");
  background-size: cover;
  background-position: center center;
}

.icon_profile{
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  //background-image: url("img/img.png");
  background-size: cover;
  background-position: center center;
}

.card_profile{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  //background-image: url("img/img.png");
  background-size: cover;
  background-position: center center;
}

.card-title-name{
  width: 120px;
  height: 120px;
  left: -35px;
  top: 10px;
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.card-title-title{
  left: 250px;
  top: -120px;
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.icon_profile_show{
  width: 50px;
  height: 50px;
  position: relative;
  top: -10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  //background-image: url("img/img.png");
  background-size: cover;
  background-position: center center;
}

.card-title-showname{
  left: -430px;
  top: 38px;
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
