<!-- いいね判断 -->
<div class="like_form">
  <% if record.like_user(current_user.id) %>
    <%= render 'likes/unlike', record: record %>
  <% else %>
    <%= render 'likes/like', record: record %>
  <% end %>
</div>
