<!-- ユーザー画像 -->
<div class="card_profile">
  <div class="card-header">
      <% if @user.image? %>
        <%= image_tag current_user.image.thumb.url, :alt => "avatar", :class => "icon_profile" %>
      <% else %>
        <%= image_tag("/images/default.jpg", :alt => "avatar", :class => "icon_profile")%>
      <% end %>
  </div>
  <div class="card-title text-center">
    <%= link_to current_user.name, user_path(@record.user) %>
  </div>
</div>
