<div class="profile_card">
  <div class="card-header">
      <% if @user.image?%>
        <%= image_tag @user.image.thumb.url, :alt => "avatar", :class => "icon" %>
      <% else %>
        <%= image_tag("/images/default.jpg", :alt => "avatar", :class => "icon")%>
      <% end %>
  </div>
  <div class="card-title text-center">
    <%= @user.name %>
  </div>
</div>
