<div class="row col-xs-6">
  <aside class="col-sm-4">
    <%= render 'users/profile' %>
    <%= render 'relationships/follow_form', user: @user %>
  </aside>
  <div class="col-sm-8">
    <%= render 'users/usernavi' %>
    <%= render 'records/profile', records: @records %>
  </div>
</div>
