<div class="modal fade" id="image_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <!-- モーダルのdialogー-->
  <div class="modal-dialog modal-lg modal-middle">
    <div class="modal-content card">
      <div class="modal-body">
        <%= image_tag @record.photo.thumb200.url, alt: "baby-1151351_1920", width: "400", height: "300", class: "aligncenter size-full wp-image-425", alt: "baby-1151351_1920" %>
      </div>
        <button type="button" class="btn btn-success" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
