<ul class="list-unstyled">
  <li class="media mb-3">
    <div class="media-body">
      <table class="table">
        <% records.each do |record| %>
          <tr>
            <%= link_to record_path(record.id)do %>
              <%= image_tag record.photo.thumb200.url %>
            <% end %>
            
          </tr>
        <% end %>
      </table>
    </div>
  </li>
  <%= paginate records %>
</ul>
