<!-- タイムライン本体 -->
<div class="row">
  <aside class="col-12">
    <ul class="list-unstyled">
      <li class="media mb-3">
        <div class="media-body">
          <table class="table">
            <div class="container">
              <% records.each do |record| %>
                <div class="row card col-12 col-xs-6">
                  <%= render 'records/timelineuser' %>
                  <%= render 'records/timelinepost' %>
                  <%= render 'likes/like_form', record: record %>
                </div>
              <% end %>
              <%= paginate records %>
            </div>
          </table>
        </div>
      </li>
    </ul>
  </aside>
</div>
