<ul class="list-unstyled">
  <% records.each do |record| %>
    <li class="media mb-3">
      <div class="media-body">
        <div class="field">
          <%= link_to record.user.name, user_path(record.user) %>
          <span class="text-muted">
            <%= link_to record.title, record_path(record.id) %>
          </span>
        </div>
        <div class="field">
          <p>
            <%= link_to record.photo, record_path(record.id) %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate records %>
</ul>
