<div class="row">
  <ul>
    <li class="comment-create">
      <h3 class="text-left title">レビュー</h3>
    </li>
    <li id="comment_area">
      <%= render partial: 'comments/index', locals: { comment: @comment }%>
    </li>
  </ul>
  <hr>
  <% if logged_in? %>
    <div class="comment-create">
      <h3 class="text-left">レビューを投稿する</h3>
      <%= render partial: 'comments/form', locals: {comment: @comment, record: @record } %>
    </div>
  <% end %>
</div>
