<% if logged_in? %>
  <%= render 'records/records', records: @records%>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h3>あなたの一枚を</h3>
      <%= link_to '登録はこちら', signup_path, class: 'btn btn-lg btn-primary'%>
    </div>
  </div>
<% end %>
<div id="app"></div>
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>
