<div class="row card col-12 col-xs-6">
  <div class="col-12  img-hidden media-body">
    <div class="field">
      <div class="card_profile">
        <% if @record.user.image? %>
          <%= image_tag @record.user.image.thumb.url, :alt => "avatar", :class => "icon_profile"%>
        <% else %>
          <%= image_tag("/images/default.jpg", :alt => "avatar", :class => "icon_profile")%>
        <% end %>
        <div class="card-title-name text-center">
          <%= link_to @record.user.name, user_path(@record.user) %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'records/showcard' %>
</div>
